@charset "UTF-8";

.menu .toggle{
   position: fixed;
   margin-top: 1rem;
   margin-left: 1rem;
   border: none;
   width: 1.8rem;
   height: 1.8rem;
   cursor: pointer;
   opacity: 0;
   z-index: 99;
}

.menu .hamburger{
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 1rem;
   margin-left: 1rem;
   width: 2rem;
   height: 2rem;
   background-color: rgba(35, 35, 35);
   z-index: 98;
}

.hamburger .hamb{
   position: absolute;
   width: 100%;
   height: 3px;
   border-radius: 3px;
   background-color: rgba(15, 100, 15);
   transition: transform .2s ease-in;
}

.hamburger .hamb::before,
.hamburger .hamb::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 3px;
   border-radius: 3px;
   top: 8px;
   background-color: rgba(15, 100, 15);
}

.hamburger .hamb::after{
   top: -8px;
}

.toggle:checked ~ .hamburger .hamb{
   transform: rotate(135deg);
}

.toggle:checked ~ .hamburger .hamb:before,
.toggle:checked ~ .hamburger .hamb:after{
   top: 0;
   transform: rotate(90deg);
}

.toggle:checked ~ .hamburger .hamb:after{
   transform: rotate(-90deg);
}

.toggle:checked:hover ~ .hamburger .hamb{
   transform: rotate(225deg);
}

.menu .nav{
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(0, 0, 0, .97);
   width: 85%;
   height: 100%;
   overflow-x: hidden;
   z-index: 7;
   transform: translateX(-110%);
   transform-origin: left;
   box-shadow: 3px 0 15px rgba(15, 50, 15, .8),
               -3px 0 15px rgba(15, 50, 15, .8);
   transition: transform .25s ease-in;
}

.menu .toggle:checked ~ .nav{
   transform-origin: left;
   transform: translateX(0);
}

.menu .nav ul{
   list-style: none;
}

.menu .nav .ul-a{
   margin: 13rem auto;
}

.nav .ul-a li{
   text-transform: uppercase;
   margin: 1rem 0;
   font-size: .8rem;
}

.nav .ul-a li a:hover{
   color: rgba(255, 255, 255);
}

.menu .nav .ul-b{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 10rem;
   background-color: rgba(15, 50, 15, .4);
}

.nav .ul-b img{
   padding: 0 1rem;
}

.menu .shadow{
   position: absolute;
   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0);
   opacity: 0;
   display: none;
}